    <footer>
        <div class="container">
            <div class="top-footer">
                <div class="row">
                    <div class="col-md-8">
                        <div class="subscribe-form">
                            <span>Prenez contact avec nous</span>
                            <form method="get" class="subscribeForm">
                                <input id="subscribe" type="text" />
                                <input type="submit" id="submitButton" />
                            </form>
                        </div>
                    </div>
                    <div class="col-md-4">
                        <div class="social-bottom">
                            <span>Suivez-nous:</span>
                            <ul>
                                <li><a href="https://www.facebook.com/bouchra.agence/" class="fa fa-facebook"></a></li>
                                <li><a href="#" class="fa fa-twitter"></a></li>
                                <li><a href="#" class="fa fa-rss"></a></li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
            <div class="main-footer">
                <div class="row">
                    <div class="col-md-4">
                        <div class="about">
                            <h4 class="footer-title">A propos de Bouchra</h4>

                            <p>L'équipe commerciale <strong>Bouchra Immobilier spécialiste de la vente, achat, location et gestion de maison, d'appartement</strong>, travaille chaque jour pour vous offrir une sélection de biens qualitatifs (Maisons, Appartements, Terrains, locaux commerciaux). </p>

                        </div>
                    </div>

                    <div class="col-md-4">
                        <div class="recent-posts">
                            <h4 class="footer-title">Poste récent</h4>
                            <div class="recent-post">
                                <div class="recent-post-thumb">
                                    <img src="{{ absolute_url(asset("images/BienChoisir.jpg")) }}" style="height : 50px;" alt="">
                                </div>
                                <div class="recent-post-info">
                                    <h6><a href="#">Bien choisir ses biens</a></h6>
                                    <span>28/04/2019</span>
                                </div>
                            </div>
                            <div class="recent-post">
                                <div class="recent-post-thumb">
                                    <img src="{{ absolute_url(asset("images/Arnaque.jpg")) }}" style="height : 50px;" alt="">
                                </div>
                                <div class="recent-post-info">
                                    <h6><a href="#">Attention aux arnaques</a></h6>
                                    <span>18/10/2018</span>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-4">
                        <div class="more-info">
                            <h4 class="footer-title">Plus d'info</h4>
                            <p>Vous pouvez nous contacter à tous moments.</p>
                            <ul>
                                <li><i class="fa fa-phone"></i>00253.77.05.33.87</li>
                                <li><i class="fa fa-globe"></i>123 rue d'arta</li>
                                <li><i class="fa fa-envelope"></i><a href="#">info@bouchra.com</a></li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
            <div class="bottom-footer">
                <p>
                    <span>Copyright © 2019 <a href="#">Agence Bouchra Immobilier</a>
                        Développeur: <a rel="nofollow" href="http://www.khadaryonis.fr" target="_parent"> Khadar Yonis &amp; Mohamed ADEN</a>
                   </p>
               </div>
           </div>
       </footer>