<div id="slider">
            <div class="flexslider">
                <ul class="slides">
                    <li>
                        <div class="slider-caption">
                            <h1>Bienvenu</h1>
                        </div>
                        <img src="{{ absolute_url(asset("images/imm.jpg")) }}" style="height : 600px;" alt="" />
                    </li>
                    <li>
                        <div class="slider-caption">
                            <h1>Acheter</h1>
                            <p>Si vous aimeriez acheter une maison, un studio, un terrain ou encore un villa, contactez votre agence Bouchra 
                            <br><br>Pour nous contacter, rien est plus simple, cliquez le bouton ci-dessous.</p>
                            <a href="single-post.html">Achter maintenant</a>
                        </div>
                        <img src="images/t1.jpg" style="height : 800px;" alt="" />
                    </li>
                    <li>
                        <div class="slider-caption">
                            <h1>Vendre</h1>
                            <p>Si vous aimeriez Vendre une maison, un studio, un terrain ou encore un villa, contactez votre agence Bouchra 
                                <br><br>Pour nous contacter, rien est plus simple, cliquez le bouton ci-dessous.</p>
                                <a href="single-post.html">Plus d'infos</a>
                            </div>
                            <img src="{{ absolute_url(asset("images/t5.jpg")) }}" style="height : 800px;" alt="" />
                    </li>
                    <li>
                        <div class="slider-caption">
                            <h1>Louer</h1>
                            <p>Si vous aimeriez louer une maison, un studio, un terrain ou encore un villa, contactez votre agence Bouchra 
                            <br><br>Pour nous contacter, rien est plus simple, cliquez le bouton ci-dessous.</p>
                            <a href="single-post.html">Louer maintenant</a>
                        </div>
                        <img src="{{ absolute_url(asset("images/t10.jpg")) }}" style="height : 800px;" alt="" />
                    </li>
                </ul>
            </div>
        </div>