                <div id="heading">
                    <div class="container">
                        <div class="row">
                            <div class="col-md-12">
                                <div class="heading-content">
                                    <h2>Acheter</h2>
                                    <span>Accueil / <a href="about-us.html">Achats</a></span>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
